.signUp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & h1 {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    & form {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
}